.bulb {
  background-color: darkgray;
  width: 100px;
  height: 100px;
}
.light {
  background-color: yellow;
}

.coin {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.penny {
  width: 40px;
  height: 40px;
  background-color: coral;
}
